.header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    transition: opasity 2s linear;
  }

  
  .header__link:hover{
      opacity: 0.5;
  }